*.md
**/dist
**/vendor
tsconfig.json
composer.lock
resources/js/components/ui/*
resources/js/ziggy.js
resources/views/mail/*
public/css/filament/*
public/js/filament/*
public/fonts/*
stubs/*
storage/framework/views/*
